* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'cursiva', sans-serif;
}

.conteudo{

  display: flexbox;
  flex-direction: column;
}

body{

  background-image: url("./calc.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.max-width {
  width: 100%;
  max-width: 10px;
  margin: 0 auto;
  background-color: #fff;
}

.calculator {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 10px;
  background-color: #000807;
  height: 90%;
  border: 1.9px solid #dfdfdf;
}

.history{
  width: 400px;
  position: absolute;
  top: 32%;
  right: 10%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 10px;
  background-color: #1b7269;
  height: 52%;
  color: white;
  font-size: 19px;
  text-align: center;
  border: 1px solid white;
}

h3{
  font-size: 40px;
}

table td {
  display: inline-block;
}

.operator {
  margin: 3px;
  width: 50px;
  height: 78px;
  cursor: pointer;
  border: none;
  background-color: #0C1A21;
  color: #dfdfdf;
  font-size: 25px;
  transition: all 500ms ease-in-out;
}

.operator:hover {
  background-color: #162f3b;
}

#clear {
  background-color: #1b7269;
}

#clear:hover {
  background-color: #228f84;
}

#especial {
  background-color: #228f84;
}

#especial:hover {
  background-color: #18646b;
}

#igual {
  background-color: #1b7269;
}

#igual:hover {
  background-color: #25968a;
}

#equals {
  background-color: #1b7269;
}

#equals:hover {
  background-color: #25968a;
}

.display {
  height: 100px;
  color: #dfdfdf;
  text-align: center;
  font-size: 35px;
  word-wrap: break-word;
  border-bottom: 1px solid #25968a;
}

#display {
  height: 90px;
  color: white;
  text-align: center;
  font-size: 35px;
  word-wrap: break-word;
  border-bottom: 1px solid #25968a;
  background: #1b7269;
  width: 226px;
}

#history-list tr:hover {
  background-color:  #162f3b;
  cursor: pointer;
}

#history-list td {
  border: 1px solid #ddd;
  padding: 5;
  text-align: center;
  height: 49px;
  border: 1px solid white;
  top: 100px;
}

#history-list td:first-child {
  text-align: center;
  font-weight: bold;
}

#history-list td:nth-child(2) {
  font-weight: bold;
}

#history-list td:last-child {
  text-align: center;
}

.historico{
  padding: 10px;
  text-align: center;
  color:white; 
   width: 379px;
   height: 11.4em;
   background-color:#0C1A21;
   position: static;
   border-radius: 15px;
   border: 1px solid white;
   top: 200%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}




